@import "tailwindcss";

@theme {
  --color-primary: #fbbe18;
  --color-secondary: #5c4033;
  --color-background: #fdf6e3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-link: #2563eb;
}


@layer base {
  body {
    @apply bg-background text-secondary;
  }
  
  a {
    @apply text-link hover:underline;
  }
}